<ion-content class="ion-padding">
  <h1 class="title">Welcome to Sleep Tracker!</h1>
  <p>Today is {{ today.toDateString() }}</p>
  <p class="overnight-sleep" *ngIf="yesterdaysSleep; else noLoggedSleep">Last night you slept for <br>{{ yesterdaysSleep }}</p>
  
  <ng-template class="overnight-sleep" #noLoggedSleep>
    You have not logged sleep for last night yet
  </ng-template>

</ion-content>

<ion-tabs class="nav">
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="log-sleep">
      <ion-icon name="bed-outline"></ion-icon>
      <ion-label>Log Sleep</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>View Logs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="log-sleepiness">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Log Sleepiness</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>