<ion-header>
  <ion-toolbar>
    <ion-title>Log Your Sleepiness</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <p>Logging at {{ currentTime }}</p> -->
  <ion-list>
    <ion-item>
      <ion-select interface="popover" placeholder="Select sleepiness level" (ionChange)="handleChange($event)">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
        <ion-select-option value="7">7</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button (click)="onClick()" expand="block">Log Sleepiness</ion-button>
</ion-content>
