<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Log Your Sleepiness</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <h1 class="title">Log Your Sleepiness</h1>
  <p class="question" style="padding:8px; text-align: center;">On a scale from 1-7, how sleepy are you right now?</p>
  
  <ion-range 
    [ticks]="true" 
    [pin]="true" 
    [snaps]="true" 
    [min]="1" 
    [max]="7" 
    (ionChange)="handleChange($event)"
  ></ion-range>

  <div class="sleepiness-info-container">
    <p class="sleepiness-info">{{standfordSleepinessData[loggedValue]}}</p>
  </div>

  <ion-button 
    class="log-sleepiness-button" 
    color="secondary" 
    (click)="onClick()" 
    expand="block"
  >Log Sleepiness</ion-button>
</ion-content>
